h1{
    color: lightpink;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: dimgray;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    max-width: 500px;
    margin: auto;
}
h2 {
    font-size: 20px;
    color: lightpink;
}
h3 {
    font-size: 20px;
    color: lightpink;
}
label {
    display: inline-table;
    width: 100px;
}
li {
    list-style-type: none;
}