@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SeungEun's World";
}

    <div class="content">
        <h1>SeungEun Lee's Website</h1>
        <img src="img/IMG_6061.jpg" width="450" height="450" class="center">
        <br />

        <p>
            I am not a coding or programming person so this class would be a big challenge for me.
            However, when I took IS 201 as prerequisite, development related to web caused intereste to me.
            <br /><br />
            Thus, I am so ready to be obssessed with this class with a lot of anxiety.
            From IS 413 course, I hope to learn how to develop web things deeply, not only as individually, but also as a group.
            Since I learned a lot from group members last semester and they helped me a lot by doing group projects, I hope I could learn from them more and more by taking this course.
        </p>
        <br />

        <h2>TOP #3 jobs I'm most interested in:</h2>
        <ul>
            <li>1. Web Designer</li>
            <br />
            <li>2. Techonology Consultant</li>
            <br />
            <li>3. Cloud Engineer</li>
        </ul>

    </div>
